* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --DarkViolet: #2d2640;
  --GrayishBlue: #95a9c6;
  --VeryDarkViolet: #2b272f;
  --DarkGrayishViolet: #837d87;
  --VeryLightGray: #fafafa;
  --fontHead: "DM Serif Display", serif;
  --fontBody: "Karla", sans-serif;
}
.header-container {
  position: relative;
  z-index: 2;
  background: white;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
}

.menuCont {
  display: flex;
  padding: 29px 0;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.menu .link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: var(--DarkGrayishViolet);
  font-weight: 700;
  font-family: var(--fontBody);
  letter-spacing: 1.5px;
  padding: 12px;
  transition: 0.3s all;
}

.menu .btnMenu {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 700;
  font-family: var(--fontBody);
  letter-spacing: 1.5px;
  color: var(--DarkViolet);
  padding: 12px;
  border: 2px solid var(--DarkViolet);
  transition: 0.3s all;
  background: #fff;
}

.menu .link:hover {
  color: var(--DarkViolet);
}

.menu .btnMenu:hover {
  background: var(--DarkViolet);
  color: #fff;
}

.bg-main {
  position: relative;
  background: var(--DarkViolet);
  box-shadow: inset 0 -150px #fff;
  padding-top: 80px;
}

.bg-main::before {
  content: url(/img/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  bottom: -120px;
  left: 0;
}

.bg-main::after {
  content: url(/img/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  top: -90px;
  right: 0;
}
.flexMain {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-info {
  max-width: 540px;
  padding-bottom: 170px;
}

.lineMain {
  width: 150px;
  height: 1px;
  background: #fff;
  margin-bottom: 63px;
}

.imgMain {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info h1 {
  font-family: var(--fontHead);
  font-size: 4rem;
  color: white;
  line-height: 88%;
  letter-spacing: -1px;
  font-weight: normal;
  margin-bottom: 1rem;
}

.main-info p {
  font-family: var(--fontBody);
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  line-height: 162.5%;
  margin-bottom: 1.5rem;
}

.btnMain {
  display: inline-block;
  font-family: var(--fontBody);
  text-transform: uppercase;
  font-size: 0.8125rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  padding: 12px 28px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all;
}

.btnMain:hover {
  background: #fff;
  color: var(--DarkViolet);
}

.differentCont {
  margin: 150px auto;
}

.lineDifferent {
  width: 150px;
  height: 1px;
  background: #c396c6;
  margin-bottom: 63px;
}

.different-title h1 {
  font-family: var(--fontHead);
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 88%;
  letter-spacing: -1px;
}

.list-solution {
  padding-top: 90px;
  display: flex;
  gap: 30px;
}

.title-card {
  font-family: var(--fontHead);
  color: var(--DarkViolet);
  font-weight: 400;
  font-size: 1.75rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  letter-spacing: -0.389px;
}

.desc-card {
  font-size: 1rem;
  font-family: var(--fontBody);
  line-height: 162%;
  color: var(--DarkGrayishViolet);
}

.findSec {
  margin: 150px 0;
}

.titleFind {
  font-size: 3.5rem;
  color: white;
  font-family: var(--fontHead);
  font-weight: 400;
  line-height: 56px;
  max-width: 475px;
  letter-spacing: -0.778px;
}

.cardFind {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 69px 80px;
  margin-inline: auto;
  background: var(--DarkViolet) url(img/bg-pattern-how-we-work-desktop.svg)
    no-repeat right;
}

.bg-footer {
  background-color: var(--VeryLightGray);
  padding: 64px 0;
  background-image: url(img/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
}

.flex-social {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
  padding-bottom: 40px;
}

.listSocial {
  display: flex;
  gap: 1rem;
}

.listSocial li a {
  color: #837d88;
}
.listSocial li a:hover {
  color: #2c2830;
}

.links-footer {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.title-list {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: var(--fontBody);
  color: #837d87;
  margin-bottom: 36px;
}

.ul-links li a {
  font-size: 0.8125rem;
  font-family: var(--fontBody);
  text-transform: uppercase;
  color: #2d2641;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.ul-links li a:hover {
  text-decoration: underline;
}

.ul-links li {
  margin-bottom: 1rem;
}

.ul-links li:last-child {
  margin-bottom: 0;
}

.menu-mobile {
  display: none;
}

@media (max-width: 800px) {
  .menu-mobile {
    display: block;
    border: none;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .flexMain {
    flex-direction: column-reverse;
    padding: 0;
  }

  .bg-main {
    padding-top: 0;
    box-shadow: inset 0 0px #fff;
  }

  .main-info h1 {
    font-size: 3rem;
  }

  .main-info {
    padding: 90px 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
  }
  .main-info::after {
    content: url("/img/bg-pattern-intro-left-mobile.svg");
    top: -30px;
    left: 0;
    position: absolute;
  }

  .main-info::before {
    content: url("/img/bg-pattern-intro-right-mobile.svg");
    bottom: -180px;
    right: 0;
    position: absolute;
  }

  .lineMain {
    display: none;
  }

  .bg-main::after,
  .bg-main::before {
    display: none;
  }

  .list-solution {
    flex-direction: column;
  }

  .different-title h1 {
    font-size: 3rem;
    text-align: center;
  }

  .lineDifferent {
    margin-inline: auto;
    margin-bottom: 40px;
  }

  .list-solution div {
    text-align: center;
  }

  .list-solution div img {
    margin-inline: auto;
  }

  .findSec {
    margin: 140px 20px;
  }

  .titleFind {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .cardFind {
    background: var(--DarkViolet) url("/img/bg-pattern-how-we-work-mobile.svg")
      no-repeat right;
    flex-direction: column;
    padding: 60px 24px;
  }

  .flex-social {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .bg-footer {
    background: url("/img/bg-pattern-footer-mobile.svg") no-repeat;
  }

  .links-footer {
    grid-template-columns: 1fr;
  }

  .links-footer div {
    text-align: center;
  }

  .menu.ativo{
    position: fixed;
    flex-direction: column;
    background: #2C2830;
    width: 100%;
    left: 0;
    display: flex;
    top: 90px;
    min-height: 100vh;
    text-align: center;
    padding: 0 20px;
  }

  .menu.ativo li:first-child{
    padding-top: 40px;
  }
  .menu.ativo li{
    padding-bottom: 24px;
  }

  .ativo .link{
    font-size: 1.25rem;
    color: #fff;
    line-height: 200%;
    letter-spacing: 1.364px;
  }

  .ativo .btnMenu{
    display: inline-block;
    font-family: var(--fontBody);
    text-transform: uppercase;
    font-size: 1.25rem;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    width: 100%;
    padding: 12px 28px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all;
  }

  .ativo .btnMenu:hover{
    background: #fff;
    color: var(--DarkViolet);
  }

.menuCont.ativo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 29px 20px;
  }
}
